<html xmlns:th="http://www.thymeleaf.org">

   <head>
	<title>Thymeleaf Demo</title>
   </head>	
      <body>
		<h1>Student List</h1>
		<table border="2">
			<thead>
				<tr><th>Id</th><th>Name</th><th>Course</th><th>Advice</th></tr>
			</thead>
			<tbody>
				<tr th:each="student: ${students}">
					<td th:text="${student.id}"></td>
					<td th:text="${student.name}"></td>
					<td th:text="${student.course}"></td>
					<div th:switch="${student.course}">
						<td th:case="'Java'">Learn Spring Boot</td>
						<td th:case="'Python'">Learn Django</td>
						<td th:case="*">Learn Full Stack</td>
						
					</div>
				</tr>
			</tbody>
		</table>
	  </body>
</html>